/* h1 styles */
h1 {
    font-size: 60px;
    text-align: center;
    color: #fb6d10;
    
    animation-name: colourswitch;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes colourswitch {
    0% {color: #fb6d10;}
    25% {color: black;}
    50% {color: yellow;}
    75% {color: red;}
    100% {color: green;}
}

/* nav bar styles*/
#navbar {
    height: 100px;
    background-color: white;
}

#navbardiv {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

#navspan {
    display: inline-block;
    color: white;
}

#image {
    height: 100px;
}

.listitem {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
}

.linkstyle {
    text-decoration: none;
    color: black;
    border: solid 1px #fb6d10;
    border-radius: 5px;
    padding: 10px;
    transition-property: background, color;
    transition-duration: 200ms;
}

.linkstyle:hover {
    background-color: #fb6d10;
    color: white;
}

/* image styles */

.imago {
    height: 300px;
    margin-left: 10px;
}

